* {
  box-sizing: border-box;
}

.body {
  background-color: lightskyblue;
}

.app {
  width: 800px;
  margin: 30px;
  padding: 20px;
}

.App h3 {
  margin-left: 3rem;
}

.productList {
  margin: 0px 40px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.productList h3 {
  margin: 1rem auto;
}

.product img {
  width: 200px;
  height: 200px;
}

.product {
  width: 260px;
  margin: 0px 20px 10px;
  text-align: center;
}

.product .addBtn {
  background-color: lightskyblue;
  text-align: center;
  font-size: 16px;
  padding: 6px 10px;
  border: none;
}

.cart {
  border: #ccc;
  background-color: #f4f4f4;
  margin: 0.5rem 3rem;
}

.cart h3 {
  padding: 20px;
}

.cartItem {
  margin-bottom: 10px;
  display: gird;
  grid-template-columns: 1fr;
}

.cartItem img {
  width: 80px;
  vertical-align: middle;
}

.cartItem .name,
.price,
.quantity,
.removeBtn {
  margin-left: 10px;
  margin-top: 25px;
}

.cartItem .name,
.price,
.quantity {
  width: 120px;
}

.cartList .totalPrice {
  text-align: right;
  margin-right: 40px;
  padding-bottom: 20px;
}

.cartItem .removeBtn {
  width: 120px;
  height: 30px;
}

@media only screen and (max-width: 600px) {
  .productList {
    margin: 0.5rem 0rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .cart {
    margin: 0.5rem;
  }

  .cart h3 {
    margin-left: 0.5rem;
  }

  .cartItem {
    margin-bottom: 1rem;
  }

  .App h3 {
    margin-left: 0.5rem;
  }
}
