* {
  box-sizing: border-box;
}

.body {
  background-color: lightskyblue;
}

.app {
  width: 800px;
  margin: 30px;
  padding: 20px;
}

.productList {
  margin: 0px 40px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.product img {
  width: 200px;
  height: 200px;
}

.product {
  width: 260px;
  margin: 0px 20px;
  text-align: center;
}

.product .addBtn {
  background-color: lightskyblue;
  text-align: center;
  font-size: 16px;
  padding: 6px 10px;
  border: none;
}

.cart {
  border: cadetblue;
  background-color: rgb(184, 238, 184);
}

.cart h3 {
  padding: 20px;
}

.cartListItem {
}

.cartItem {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.cartItem img {
  width: 80px;
  vertical-align: middle;
}

.cartItem .name,
.price,
.quantity,
.removeBtn {
  margin-left: 20px;
  margin-top: 25px;
}

.cartItem .name,
.price,
.quantity {
  width: 120px;
}

.cartList .totalPrice {
  text-align: right;
  margin-right: 40px;
  padding-bottom: 20px;
}

.cartItem .removeBtn {
  width: 120px;
  height: 30px;
}
