* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.landing {
  margin: 0.5rem 3rem;
  background: url('/photos/food-cover.jpg') no-repeat center center/cover;
  position: relative;
  height: 60vh;
}

.light-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.landing-inner {
  color: #2c7a7b;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing-inner h3 {
  padding-top: 2rem;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.nonelanding-container {
  padding-top: 4rem;
}

.large {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.btn {
  display: inline-block;
  background-color: #319795;
  color: #fff;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  transition: opacity 0.2s ease-in;
  margin-right: 0.4rem;
}

.btn-block {
  display: block;
}

.btn-large {
  font-size: 1rem;
  width: 6rem;
  padding: 0.3rem 1rem;
  margin-right: 0.3rem;
}

.btn-small {
  font-size: 0.8rem;
  width: 5rem;
  padding: 0.2rem 0.6rem;
  margin-right: 0.2rem;
}

.btn-primary {
  background-color: #319795;
}

.btn-primary:hover {
  background-color: lighten(#319795, 5%);
}

.btn-light {
  background-color: #4299e1;
}

.btn-light:hover {
  background-color: lighten(#4299e1, 5%);
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.grid-2-3 {
  display: grid;
  grid-template-columns: repeat(2fr, 3fr);
  grid-gap: 2rem;
}

.p {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.py {
  padding: 0.5rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.m {
  margin: 0.5rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.my {
  margin: 0.5rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.card {
  padding: 1rem;
  border: #ccc 1px solid;
  margin: 0.7rem 0;
}

.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

.form-container,
.confirm-container,
.success-container {
  max-width: 600px;
  margin: 0rem auto 2rem;
  overflow: hidden;
  padding: 4rem 2rem;
}

.form-container h1,
h2,
h3 {
  text-align: center;
}

.buttons {
  display: flex;
}

.dashboard {
  max-width: 1200px;
  padding-top: 4rem;
}

.dashboard-container {
  padding: 0 1rem 1rem;
}

.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  margin: 0.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input {
  margin: 1.2rem 0;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
}

.invalid-feedback {
  margin: 0.5rem 0rem;
  border: 1px solid red;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 2rem;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #ddd;
  opacity: 0.9;
  margin-bottom: 1rem;
  position: fixed;
  background-color: #319795;
  color: #fff;
  top: 0;
  left: 0;
}

.nav-container {
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
}

.logo a {
  color: #fff;
}

.logo {
  margin-left: 1rem;
}

.nav-link {
  /* padding: 0.45rem;
  margin: 0 0.25rem; */
  color: #fff;
  margin-right: 0.5rem;
}
.nav-link:hover {
  color: #f4f4f4;
}

.productList {
  margin: 0 3rem 1rem;
  border: 2px solid #edf2f7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  background-color: #f1f8ff;
  overflow: scroll;
}

.productList h3 {
  margin: 1rem auto;
}

.product img {
  width: 200px;
  height: 160px;
}

.product-description {
  color: #4a5568;
}

.product {
  width: 260px;
  margin: 20px 20px 10px;
  text-align: center;
}

.product .addBtn {
  background-color: #38b2ac;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 6px 10px;
  border: none;
}

.product .addBtn:hover {
  background-color: #4fd1c5;
}

.cart {
  border: 2px solid #edf2f7;
  background-color: #f7fafc;
  margin: 0.5rem 3rem;
}

.cart h3 {
  margin-left: 1rem;
}

.cartItem {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 1rem;
  align-items: center;
  justify-items: center;
}

.cartItem img {
  width: 80px;
  vertical-align: middle;
}

.cartItem .change-quantity {
  display: flex;
  align-items: center;
}

.cartItem .change-quantity i {
  line-height: 1.6;
}

.cartListItem {
  padding-left: 1rem;
  padding-right: 1rem;
}

.cartList .totalPrice {
  text-align: right;
  margin-right: 2rem;
  padding-bottom: 1rem;
}

.cartItem .removeBtn {
  width: 100px;
  background-color: #f6e05e;
  color: #4a5568;
}

.checkoutBtn {
  margin: 1rem auto;
  display: flex;
}

.dashboard {
  max-width: 1200px;
}

@media screen and (max-width: 770px) and (min-width: 600px) {
  .grid-2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cartItem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1rem;
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
  }

  .productList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 0.2rem 0.5rem;
  }

  .navbar .logo {
    margin: 0;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .buttons .btn {
    margin-bottom: 0.5rem;
  }

  .landing {
    margin: 0.5rem;
  }

  .landing-inner {
    margin-top: 1rem;
  }

  .landing-inner h3 {
    padding-top: 2rem;
    margin-top: 2rem;
  }

  .landing-inner .buttons {
    display: none;
  }

  .large {
    font-size: 1.2rem;
  }

  .lead {
    font-size: 0.8rem;
    font-weight: bold;
  }

  .navbar {
    font-size: 0.8rem;
  }

  .navbar-nav {
    padding: 0 0 0 1rem;
  }

  .productList {
    margin: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .product {
    width: auto;
  }

  .product img {
    width: 300px;
    height: 240px;
  }

  .cart {
    margin: 0.5rem;
  }

  .cart h3 {
    margin-left: 1rem;
  }

  .cartList .totalPrice {
    margin-right: 0.5rem;
  }

  .cartItem {
    margin-bottom: 1rem;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1rem;
    grid-gap: 1rem;
  }
}
